@model emr.Models.Model.PatientsModel
<h1></h1>
<h4>@Model.first_name &nbsp @Model.last_name &nbsp;(Medical #: @Model.medical_number)&nbsp;&nbsp;<i class="fa fa-lock"></i></h4>
<div class="table-responsive table-striped">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
            <strong>Gender:</strong>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">@Model.gender</div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
            <strong>DOB:</strong>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">@Model.dob</div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
            <strong>Provider:</strong>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">@Model.provider</div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
            <strong>Height:</strong>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">&nbsp;</div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
            <strong>Weight:</strong>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">&nbsp;</div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
            <strong>Room #:</strong>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
            <strong>Code Status:</strong>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">&nbsp;</div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
            <strong>Admitting Diagnosis:</strong>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">&nbsp;</div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
            <strong>Allergy:</strong>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
        </div>
    </div>
</div>
