@model emr.Models.Model.PatientsModel

<div class="container-fluid">
    <div class="row" style="margin-top:20px;">
        <div class="breadcrumb">
            <a href="/emr/"><i class="fa fa-home fa-lg"></i> Home</a>/
            <a href="/Patients">Patients</a>/
            <a href="/Patients/view/@Model.id">@Model.first_name &nbsp @Model.last_name</a>/
            <a href="/PatientRooms/edit/@Model.id">Edit Room</a>
        </div>
        <partial name="_PatientsInfo" model="@Model" />
        <div class="row-fluid">
            <form asp-action="Update">
                <div class="col-md-8">

                    <div role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Patient Room</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home">
                                <div class="form-group required">
                                    <input type="hidden" asp-for="roomsModel.id" />
                                    <label for="PatientRoomRecordDate" class="control-label">Record Date</label>
                                    <input asp-for="roomsModel.record_date" class="form-control" />
                                    <span asp-validation-for="@Model.roomsModel.record_date" class="text-danger"></span>
                                </div>
                                <div class="form-group required">
                                    <label for="PatientRoomRoom" class="control-label">Room</label>
                                    <input asp-for="roomsModel.room" class="form-control" />
                                    <span asp-validation-for="@Model.roomsModel.room" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label for="PatientRoomNotes" class="control-label">Notes</label>
                                    <textarea asp-for="roomsModel.notes" class="form-control"></textarea>
                                    <span asp-validation-for="@Model.roomsModel.notes" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-md-4">
                    <div class="well" style="margin-top:40px;">
                        <div style="font-weight:bold; margin-bottom:15px;"><i class="fa fa-list"></i> Actions</div>
                        <div>
                            <input class="btn btn-success btn-sm" type="submit" value="Save Room">		
                            <a href="/Patients/view/@Model.roomsModel.patient_id/#rooms" class="btn btn-danger btn-sm">Cancel</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>