@model emr.Models.Model.PatientsModel
<div class="container-fluid">
    <div class="row" style="margin-top:20px;">
        <div class="breadcrumb">
            <a href="/emr/"><i class="fa fa-home fa-lg"></i> Home</a>/<a href="/Patients">Patients</a>/<a href="/Patients/view/@Model.id">@Model.first_name &nbsp @Model.last_name</a>
        </div>


        <div class="alert alert-success alert-dismissible" role="alert" style="display: none;">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">×</span>
                <span class="sr-only">Close</span>
            </button>
            The note has been saved.
        </div>
        <partial name="_PatientsInfo" model="@Model" />

        <div class="command-box">
            <a href="/Patients/edit/@Model.id" class="btn btn-success btn-sm">Edit Details</a>
            <a href="/Patients/delete/@Model.id" class="btn btn-danger btn-sm" onclick="if (confirm(&quot;Are you sure to delete this record?&quot;)) { document.post_637394e96714c872783716.submit(); } event.returnValue = false; return false;">Delete Patient</a>
            <a href="#" class="btn btn-danger btn-sm" onclick="if (confirm(&quot;Are you sure to reset this record?&quot;)) { document.post_637394e96724c720524430.submit(); } event.returnValue = false; return false;">
                Delete Student Inputs
            </a>
            <a href="#" class="btn btn-danger btn-sm" onclick="if (confirm(&quot;Are you sure to reset this record?&quot;)) { document.post_637394e96731e817266781  t(); } event.returnValue = false; return false;">
                Delete Instructor Inputs
            </a>
        </div>

        <div role="tabpanel">
            <!-- Nav tabs -->
            <partial name="_PatientTabs" />
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Value</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Id</td>
                                <td>@Model.id</td>
                            </tr>
                            <tr>
                                <td>Medical Record #</td>
                                <td>@Model.medical_number</td>
                            </tr>
                            <tr>
                                <td>LastName</td>
                                <td>@Model.last_name;</td>
                            </tr>
                            <tr>
                                <td>FirstName</td>
                                <td>@Model.first_name</td>
                            </tr>
                            <tr>
                                <td>DOB</td>
                                <td>@Model.dob</td>
                            </tr>
                            <tr>
                                <td>Gender</td>
                                <td>@Model.gender</td>
                            </tr>
                            <tr>
                                <td>Provider</td>
                                <td>@Model.provider</td>
                            </tr>
                            <tr>
                                <td>Description</td>
                                <td>
                                    @Model.description
                                </td>
                            </tr>
                            <tr>
                                <td>Creator</td>
                                <td>
                                    @Model.creator
                                </td>
                            </tr>
                            <tr>
                                <td>Created</td>
                                <td>
                                    @Model.created
                                </td>
                            </tr>

                            <tr>
                                <td>Modifier</td>
                                <td>
                                    @Model.modifier
                                </td>
                            </tr>
                            <tr>
                                <td>Modified</td>
                                <td>
                                    @Model.modified
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="diagnoses">
                    <div class="modal fade" id="637394e9-868c-4a6d-8f56-48dbc0a806c9">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">Add Diagnosis</h4>
                                </div>
                                <form asp-action="AddDiagnoses" asp-route-id="@Model.id">
                                    <div class="modal-body">
                                        <div class="form-group required">
                                            <label for="PatientAdmittingDiagnosisRecordDate" class="control-label">Record Date</label>
                                            <input asp-for="admittingDiagnosesModel.record_date" class="form-control" />
                                            <span asp-validation-for="@Model.admittingDiagnosesModel.record_date" class="text-danger"></span>
                                        </div>
                                        <div class="form-group required">
                                            <label for="PatientAdmittingDiagnosisDiagnosis" class="control-label">Diagnosis</label>
                                            <textarea asp-for="admittingDiagnosesModel.diagnosis" class="form-control"></textarea>
                                            <span asp-validation-for="@Model.admittingDiagnosesModel.diagnosis" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <input class="btn btn-primary" type="submit" value="Add Diagnosis">
                                    </div>
                                </form>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td>
                                        <a id="diagnosis_plus" href="#"><i class="fa fa-plus text-info fa-lg"></i></a>
                                    </td>
                                    <td>Record Date</td>
                                    <td>Diagnosis</td>
                                    <td>Created</td>
                                    <td>Modified</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.diagnosesModelAll)
                                {
                                    <tr>
                                        <td>
                                            <a href="/AdmittingDiagnoses/edit/@item.id"><i class="fa fa-edit text-info fa-lg"></i></a>&nbsp;&nbsp;
                                            <a href="/AdmittingDiagnoses/delete/@item.id" onclick="if (confirm(&quot;Are you sure to delete this record?&quot;)) { return true; } return false;"><i class="fa fa-trash text-danger fa-lg"></i></a>
                                        </td>
                                        <td>@item.record_date</td>
                                        <td>@item.diagnosis</td>
                                        <td>@item.creator </td>
                                        <td>@item.modifier </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#diagnosis_plus').click(function () {
                                $('#637394e9-868c-4a6d-8f56-48dbc0a806c9').modal('show');
                                return false;
                            });
                        });

                    </script>
                </div>
                <div role="tabpanel" class="tab-pane" id="code_statuses">
                    <div class="modal fade" id="637394e9-9ed8-4ea8-86af-48dbc0a806c9">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">Add Code Status</h4>
                                </div>
                                <form asp-action="AddCodeStatus" asp-route-id="@Model.id">
                                    <div class="modal-body">

                                        <div class="form-group">
                                            <label for="PatientCodeStatusRecordDate" class="control-label">Record Date</label>
                                            <input asp-for="codeStatusesModel.record_date" class="form-control" />
                                            <span asp-validation-for="@Model.codeStatusesModel.record_date" class="text-danger"></span>
                                        </div>
                                        <div class="form-group required">
                                            <label for="PatientCodeStatusCodeStatus" class="control-label">Code Status</label>

                                            <select id="codeStatusesModel.code_status" class="form-control col-md-8" name="codeStatusesModel.code_status"
                                                    asp-for="@Model.codeStatusesModel.code_status">
                                                <option value="">-- Choose Code Status --</option>
                                                <optgroup label="code_status">
                                                    <option value="DNR">DNR</option>
                                                    <option value="Full Code">Full Code</option>
                                                    <option value="Limited Code">Limited Code</option>
                                                </optgroup>

                                            </select>
                                            <span asp-validation-for="@Model.codeStatusesModel.code_status" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="PatientCodeStatusNotes" class="control-label">Notes</label>
                                            <textarea asp-for="codeStatusesModel.notes" class="form-control"></textarea>
                                            <span asp-validation-for="@Model.codeStatusesModel.notes" class="text-danger"></span>
                                        </div>
                                        <script type="text/javascript">
                                            $(function () {
                                                $('#PatientCodeStatusRecordDate').val(getCurrentDate());
                                            });
                                        </script>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <input class="btn btn-primary" type="submit" value="Add Code Status">
                                    </div>
                                </form>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal --><div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td>
                                        <a id="code_status_plus" href="#"><i class="fa fa-plus text-info fa-lg"></i></a>
                                    </td>
                                    <td>Record Date</td>
                                    <td>Code Status</td>
                                    <td>Notes</td>
                                    <td>Created</td>
                                    <td>Modified</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.codeStatusesModelAll)
                                {
                                    <tr>
                                        <td>
                                            <a href="/CodeStatuses/edit/@item.id"><i class="fa fa-edit text-info fa-lg"></i></a>&nbsp;&nbsp;
                                            <a href="/CodeStatuses/delete/@item.id" onclick="if (confirm(&quot;Are you sure to delete this record?&quot;)) { return true; } return false;"><i class="fa fa-trash text-danger fa-lg"></i></a>
                                        </td>
                                        <td>@item.record_date</td>
                                        <td>@item.code_status</td>
                                        <td>@item.notes</td>
                                        <td>@item.creator</td>
                                        <td>@item.modifier</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#code_status_plus').click(function () {
                                $('#637394e9-9ed8-4ea8-86af-48dbc0a806c9').modal('show');
                                return false;
                            });
                        });

                    </script>
                </div>
                <div role="tabpanel" class="tab-pane" id="precautions">
                    <div class="modal fade" id="637394e9-9e48-4398-b60d-48dbc0a806c9">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">Add Precaution</h4>
                                </div>
                                <form asp-action="AddPrecaution" asp-route-id="@Model.id">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="PrecautionRecordDate" class="control-label">Record Date</label>
                                            <input asp-for="precautionsModel.record_date" class="form-control" />
                                            <span asp-validation-for="@Model.precautionsModel.record_date" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="PrecautionStatus" class="control-label">Status</label>
                                            <select id="precautionsModel.status" class="form-control col-md-8" name="precautionsModel.status"
                                                    asp-for="@Model.precautionsModel.status">
                                                <option value="">-- Choose --</option>
                                                <option value="Airborne">Airborne</option>
                                                <option value="Contact">Contact</option>
                                                <option value="Droplet">Droplet</option>
                                                <option value="Fall Risk">Fall Risk</option>
                                                <option value="Protective">Protective</option>
                                                <option value="Seizure">Seizure</option>
                                                <option value="Suicide">Suicide</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="PrecautionNotes" class="control-label">Notes</label>
                                            <input asp-for="precautionsModel.notes" class="form-control" />
                                            <span asp-validation-for="@Model.precautionsModel.notes" class="text-danger"></span>
                                        </div>


                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <input class="btn btn-primary" type="submit" value="Add Precaution">
                                    </div>
                                </form>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal --><div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td>
                                        <a id="precaution_plus" href="#"><i class="fa fa-plus text-info fa-lg"></i></a>
                                    </td>
                                    <td>Record Date</td>
                                    <td>Status</td>
                                    <td>Notes</td>
                                    <td>Created</td>
                                    <td>Modified</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.precautionsModelAll)
                                {
                                    <tr>
                                        <td>
                                            <a href="/Precautions/edit/@item.id"><i class="fa fa-edit text-info fa-lg"></i></a>&nbsp;&nbsp;
                                            <a href="/Precautions/delete/@item.id" onclick="if (confirm(&quot;Are you sure to delete this record?&quot;)) { return true; } return false;"><i class="fa fa-trash text-danger fa-lg"></i></a>
                                        </td>
                                        <td>@item.record_date</td>
                                        <td>@item.status</td>
                                        <td>@item.notes</td>
                                        <td>@item.creator</td>
                                        <td>@item.modifier</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#precaution_plus').click(function () {
                                $('#637394e9-9e48-4398-b60d-48dbc0a806c9').modal('show');
                                return false;
                            });
                        });

                    </script>
                </div>
                <div role="tabpanel" class="tab-pane" id="allergies">
                    <div class="modal fade" id="637394e9-abc8-48be-a511-48dbc0a806c9">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">Add Allergy</h4>
                                </div>
                                <form asp-action="AddAllergy" asp-route-id="@Model.id">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="PatientAllergyRecordDate" class="control-label">Record Date</label>
                                            <input asp-for="allergyModel.record_date" class="form-control" />
                                            <span asp-validation-for="@Model.allergyModel.record_date" class="text-danger"></span>
                                        </div>
                                        <div class="form-group required">
                                            <label for="PatientAllergyAllergyType" class="control-label">Allergy Type</label>
                                            <select id="allergyModel.allergy_type" class="form-control col-md-8" name="allergyModel.allergy_type"
                                                    asp-for="@Model.allergyModel.allergy_type">
                                                <option value="">-- Choose Allergy Type --</option>
                                                <optgroup label="allergy_type">
                                                    <option value="Drug">Drug</option>
                                                    <option value="Environmental">Environmental</option>
                                                    <option value="Food">Food</option>
                                                    <option value="Latex">Latex</option>
                                                    <option value="Other">Other</option>
                                                </optgroup>
                                            </select>
                                        </div>
                                        <div class="form-group required">
                                            <label for="PatientAllergyAllergy" class="control-label">Allergy</label>
                                            <textarea asp-for="allergyModel.allergy" class="form-control"></textarea>
                                            <span asp-validation-for="@Model.allergyModel.allergy" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <input class="btn btn-primary" type="submit" value="Add Allergy">
                                    </div>
                                </form>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal --><div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td>
                                        <a id="allergy_plus" href="#"><i class="fa fa-plus text-info fa-lg"></i></a>
                                    </td>
                                    <td>Record Date</td>
                                    <td>Allergy Type</td>
                                    <td>Allergy</td>
                                    <td>Created</td>
                                    <td>Modified</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.allergyModelAll)
                                {
                                    <tr>
                                        <td>
                                            <a href="/Allergy/edit/@item.id"><i class="fa fa-edit text-info fa-lg"></i></a>&nbsp;&nbsp;
                                            <a href="/Allergy/delete/@item.id" onclick="if (confirm(&quot;Are you sure to delete this record?&quot;)) { return true; } return false;"><i class="fa fa-trash text-danger fa-lg"></i></a>
                                        </td>
                                        <td>@item.record_date</td>
                                        <td>@item.allergy_type</td>
                                        <td>@item.allergy</td>
                                        <td>@item.creator</td>
                                        <td>@item.modifier</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#allergy_plus').click(function () {
                                $('#637394e9-abc8-48be-a511-48dbc0a806c9').modal('show');
                                return false;
                            });
                        });

                    </script>
                </div>
                <div role="tabpanel" class="tab-pane" id="medications">
                    <div class="modal fade" id="637394e9-b6f0-4654-9a1d-48dbc0a806c9">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">Add Medication</h4>
                                </div>
                                <form asp-action="AddPatientMedications" asp-route-id="@Model.id">
                                    <div class="modal-body">

                                        <div class="form-group">
                                            <label for="PatientMedicationRecordDate" class="control-label">Record Date</label>
                                            <input asp-for="patientMedicationsModel.record_date" class="form-control" />
                                            <span asp-validation-for="@Model.patientMedicationsModel.record_date" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="PatientMedicationMedication" class="control-label">Medication</label>
                                            <input asp-for="patientMedicationsModel.medication" class="form-control" />
                                            <span asp-validation-for="@Model.patientMedicationsModel.medication" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="PatientMedicationDose" class="control-label">Dose</label>
                                            <input asp-for="patientMedicationsModel.dose" class="form-control" />
                                            <span asp-validation-for="@Model.patientMedicationsModel.dose" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="PatientMedicationFrequency" class="control-label">Frequency</label>
                                            <input asp-for="patientMedicationsModel.frequency" class="form-control" />
                                            <span asp-validation-for="@Model.patientMedicationsModel.taken_today" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <div class="checkbox">
                                                <label for="PatientMedicationTakenToday">
                                                    <input type="checkbox" name="patientMedicationsModel.taken_today" checked="@Model.patientMedicationsModel.taken_today" value="@Model.patientMedicationsModel.taken_today"> Taken Today
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="checkbox">
                                                <label for="PatientMedicationTakenToday">
                                                    <input type="checkbox" name="patientMedicationsModel.brought_with" checked="@Model.patientMedicationsModel.brought_with" value="@Model.patientMedicationsModel.brought_with"> Brought With
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <input class="btn btn-primary" type="submit" value="Add Medication">
                                    </div>
                                </form>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal --><div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td>
                                        <a id="medication_plus" href="#"><i class="fa fa-plus text-info fa-lg"></i></a>
                                    </td>
                                    <td>Record Date</td>
                                    <td>Medication</td>
                                    <td>Dose</td>
                                    <td>Frequency</td>
                                    <td>Taken Today</td>
                                    <td>Brought With</td>
                                    <td>Created</td>
                                    <td>Modified</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.patientMedicationsModelAll)
                                {
                                    <tr>
                                        <td>
                                            <a href="/PatientMedications/edit/@item.id"><i class="fa fa-edit text-info fa-lg"></i></a>&nbsp;&nbsp;
                                            <a href="/PatientMedications/delete/@item.id" onclick="if (confirm(&quot;Are you sure to delete this record?&quot;)) { return true; } return false;"><i class="fa fa-trash text-danger fa-lg"></i></a>
                                        </td>
                                        <td>@item.record_date</td>
                                        <td>@item.medication</td>
                                        <td>@item.dose</td>
                                        <td>@item.frequency</td>
                                        <td>@item.taken_today</td>
                                        <td>@item.brought_with</td>
                                        <td>@item.creator</td>
                                        <td>@item.modifier</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#medication_plus').click(function () {
                                $('#637394e9-b6f0-4654-9a1d-48dbc0a806c9').modal('show');
                                return false;
                            });
                        });

                    </script>
                </div>
                <div role="tabpanel" class="tab-pane" id="rooms">
                    <div class="modal fade" id="637394e9-2464-4a88-8803-48dbc0a806c9">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">Add Room</h4>
                                </div>
                                <form asp-action="AddRooms" asp-route-id="@Model.id">
                                    <div class="modal-body">
                                        <div class="form-group required">
                                            <label for="PatientRoomRecordDate" class="control-label">Record Date</label>
                                            <input asp-for="roomsModel.record_date" class="form-control" />
                                            <span asp-validation-for="@Model.roomsModel.record_date" class="text-danger"></span>
                                        </div>
                                        <div class="form-group required">
                                            <label for="PatientRoomRoom" class="control-label">Room</label>
                                            <input asp-for="roomsModel.room" class="form-control" />
                                            <span asp-validation-for="@Model.roomsModel.room" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="PatientRoomNotes" class="control-label">Notes</label>
                                            <textarea asp-for="roomsModel.notes" class="form-control"></textarea>
                                            <span asp-validation-for="@Model.roomsModel.notes" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <input class="btn btn-primary" type="submit" value="Add Room">
                                    </div>
                                </form>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal --><div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td>
                                        <a id="room_plus" href="#"><i class="fa fa-plus text-info fa-lg"></i></a>
                                    </td>
                                    <td>Record Date</td>
                                    <td>Room</td>
                                    <td>Notes</td>
                                    <td>Created</td>
                                    <td>Modified</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.roomsModelAll)
                                {
                                    <tr>
                                        <td>
                                            <a href="/Rooms/edit/@item.id"><i class="fa fa-edit text-info fa-lg"></i></a>&nbsp;&nbsp;
                                            <a href="/Rooms/delete/@item.id" onclick="if (confirm(&quot;Are you sure to delete this record?&quot;)) { return true; } return false;"><i class="fa fa-trash text-danger fa-lg"></i></a>
                                        </td>
                                        <td>@item.record_date</td>
                                        <td>@item.room</td>
                                        <td>@item.notes</td>
                                        <td>@item.creator</td>
                                        <td>@item.modifier</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#room_plus').click(function () {
                                $('#637394e9-2464-4a88-8803-48dbc0a806c9').modal('show');
                                return false;
                            });
                        });

                    </script>
                </div>
                <div role="tabpanel" class="tab-pane" id="heights">
                    <div class="modal fade" id="637394e9-48f0-461d-b3d3-48dbc0a806c9">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">Add Height</h4>
                                </div>
                                <form asp-action="AddHights" asp-route-id="@Model.id">
                                    <div class="modal-body">

                                        <div class="form-group">
                                            <label for="PatientHeightRecordDate" class="control-label">Record Date</label>
                                            <input asp-for="heightsModel.record_date" class="form-control" />
                                            <span asp-validation-for="@Model.heightsModel.record_date" class="text-danger"></span>

                                        </div>
                                        <div class="form-group required">
                                            <label for="PatientHeightHeight" class="control-label">Height</label>
                                            <input asp-for="heightsModel.height" class="form-control" step="any" type="number" id="PatientHeightHeight" />
                                            <span asp-validation-for="@Model.heightsModel.height" class="text-danger"></span>

                                        </div><div class="form-group required">
                                            <label for="PatientHeightHeightUnit" class="control-label">Height Unit</label>
                                            <select id="heightsModel.height_unit" class="form-control col-md-8" name="heightsModel.height_unit"
                                                    asp-for="@Model.heightsModel.height_unit">
                                                <option value="">-- Choose Height Unit --</option>
                                                <optgroup label="height_unit">
                                                    <option value="cm">cm</option>
                                                    <option value="in">in</option>
                                                </optgroup>
                                            </select>
                                        </div><script type="text/javascript">
                                                  $(function () {
                                                      $('#PatientHeightRecordDate').val(getCurrentDate());
                                                  });
                                        </script>
                                        <p></p>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <input class="btn btn-primary" type="submit" value="Add Height">
                                    </div>
                                </form>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal --><div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td>
                                        <a id="height_plus" href="#"><i class="fa fa-plus text-info fa-lg"></i></a>
                                    </td>
                                    <td>Record Date</td>
                                    <td>Height</td>
                                    <td>Created</td>
                                    <td>Modified</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.heightsModelAll)
                                {
                                    <tr>
                                        <td>
                                            <a href="/Heights/edit/@item.id"><i class="fa fa-edit text-info fa-lg"></i></a>&nbsp;&nbsp;
                                            <a href="/Heights/delete/@item.id" onclick="if (confirm(&quot;Are you sure to delete this record?&quot;)) { return true; } return false;"><i class="fa fa-trash text-danger fa-lg"></i></a>
                                        </td>
                                        <td>@item.record_date</td>
                                        <td>@item.height</td>
                                        <td>@item.creator</td>
                                        <td>@item.modifier</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div id="height_chart_div"></div>
                    <script type="text/javascript" src="//www.google.com/jsapi"></script>

                    <script type="text/javascript">
                        $(function () {
                            $('#height_plus').click(function () {
                                $('#637394e9-48f0-461d-b3d3-48dbc0a806c9').modal('show');
                                return false;
                            });
                            $('#height_chart').click(function () {
                                drawHeightChart();
                                return false;
                            });
                        });

                        google.load('visualization', '1.1', { packages: ['line'] });

                        function drawHeightChart() {
                            var data = new google.visualization.DataTable();
                            data.addColumn('string', 'Date');
                            data.addColumn('number', 'Height (cm)');
                            data.addColumn('number', 'Height (in)');

                            data.addRows([
                            ]);

                            var options = {
                                chart: {
                                    title: 'Height Trend',
                                },
                                width: 800,
                                height: 400,
                                axes: {
                                    x: {
                                        0: { side: 'top' }
                                    }
                                }
                            };

                            var chart = new google.charts.Line(document.getElementById('height_chart_div'));

                            chart.draw(data, options);
                        }


                    </script>
                </div>
                <div role="tabpanel" class="tab-pane" id="weights">
                    <div class="modal fade" id="637394e9-d3d4-402a-96a3-48dbc0a806c9">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">Add Weight</h4>
                                </div>
                                <form asp-action="AddWeights" asp-route-id="@Model.id">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="PatientWeightRecordDate" class="control-label">Record Date</label>
                                            <input asp-for="weightsModel.record_date" class="form-control" />
                                            <span asp-validation-for="@Model.weightsModel.record_date" class="text-danger"></span>
                                        </div>
                                        <div class="form-group required">
                                            <label for="PatientWeightWeight" class="control-label">Weight</label>
                                            <input asp-for="weightsModel.weight" class="form-control" step="any" type="number" id="PatientWeightWeight" />
                                            <span asp-validation-for="@Model.weightsModel.weight" class="text-danger"></span>

                                        </div>
                                        <div class="form-group required">
                                            <label for="PatientWeightWeightUnit" class="control-label">Weight Unit</label>
                                            <select id="weightsModel.weight_unit" class="form-control col-md-8" name="weightsModel.weight_unit"
                                                    asp-for="@Model.weightsModel.weight_unit">
                                                <option value="">-- Choose Weight Unit --</option>
                                                <optgroup label="weight_unit">
                                                    <option value="kg">kg</option>
                                                    <option value="lb">lb</option>
                                                </optgroup>
                                            </select>
                                        </div>
                                        <script type="text/javascript">
                                            $(function () {
                                                $('#PatientWeightRecordDate').val(getCurrentDate());
                                            });
                                        </script>
                                        <p></p>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <input class="btn btn-primary" type="submit" value="Add Weight">
                                    </div>
                                </form>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal --><div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td>
                                        <a id="weight_plus" href="#"><i class="fa fa-plus text-info fa-lg"></i></a>

                                    </td>
                                    <td>Record Date</td>
                                    <td>Weight</td>
                                    <td>Created</td>
                                    <td>Modified</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.weightsModelAll)
                                {
                                    <tr>
                                        <td>
                                            <a href="/Weights/edit/@item.id"><i class="fa fa-edit text-info fa-lg"></i></a>&nbsp;&nbsp;
                                            <a href="/Weights/delete/@item.id" onclick="if (confirm(&quot;Are you sure to delete this record?&quot;)) { return true; } return false;"><i class="fa fa-trash text-danger fa-lg"></i></a>
                                        </td>
                                        <td>@item.record_date</td>
                                        <td>@item.weight</td>
                                        <td>@item.creator</td>
                                        <td>@item.modifier</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div id="weight_chart_div"></div>
                    <script type="text/javascript" src="//www.google.com/jsapi"></script>

                    <script type="text/javascript">
                        $(function () {
                            $('#weight_plus').click(function () {
                                $('#637394e9-d3d4-402a-96a3-48dbc0a806c9').modal('show');
                                return false;
                            });

                            $('#weight_chart').click(function () {
                                drawWeightChart();
                                return false;
                            });
                        });

                        google.load('visualization', '1.1', { packages: ['line'] });

                        function drawWeightChart() {
                            var data = new google.visualization.DataTable();
                            data.addColumn('string', 'Date');
                            data.addColumn('number', 'Weight (lb)');
                            data.addColumn('number', 'Weight (kg)');

                            data.addRows([
                            ]);

                            var options = {
                                chart: {
                                    title: 'Weight Trend',
                                },
                                width: 800,
                                height: 400,
                                axes: {
                                    x: {
                                        0: { side: 'top' }
                                    }
                                }
                            };

                            var chart = new google.charts.Line(document.getElementById('weight_chart_div'));

                            chart.draw(data, options);
                        }

                    </script>
                </div>
                <div role="tabpanel" class="tab-pane" id="daily_activities">
                    <div class="modal fade" id="637394e9-173c-4b09-aa94-48dbc0a806c9">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">Add Daily Activity</h4>
                                </div>
                                <form asp-action="AddActivities" asp-route-id="@Model.id">
                                    <div class="modal-body">

                                        <div class="form-group required">
                                            <label for="DailyActivityRecordDate" class="control-label">Record Date</label>
                                            <input asp-for="dailyActivitiesModel.record_date" class="form-control" />
                                            <span asp-validation-for="@Model.dailyActivitiesModel.record_date" class="text-danger"></span>
                                           
                                        </div>
                                        <div class="form-group">
                                            <label for="DailyActivityBathing" class="control-label">Bathing</label>
                                            <select id="dailyActivitiesModel.bathing" class="form-control col-md-8" name="dailyActivitiesModel.bathing"
                                                    asp-for="@Model.dailyActivitiesModel.bathing">
                                                <option value="">-- Choose --</option>
                                                <option value="1">Independent</option>
                                                <option value="2">With Assistance</option>
                                            </select>
                                        </div><div class="form-group">
                                            <label for="DailyActivityDressing" class="control-label">Dressing</label>
                                              <select id="dailyActivitiesModel.dressing" class="form-control col-md-8" name="dailyActivitiesModel.dressing"
                                                    asp-for="@Model.dailyActivitiesModel.dressing">
                                                <option value="">-- Choose --</option>
                                                <option value="1">Independent</option>
                                                <option value="2">With Assistance</option>
                                            </select>
                                        </div><div class="form-group">
                                            <label for="DailyActivityGrooming" class="control-label">Grooming</label>
                                              <select id="dailyActivitiesModel.grooming" class="form-control col-md-8" name="dailyActivitiesModel.grooming"
                                                    asp-for="@Model.dailyActivitiesModel.grooming">
                                                <option value="">-- Choose --</option>
                                                <option value="1">Independent</option>
                                                <option value="2">With Assistance</option>
                                            </select>
                                        </div><div class="form-group">
                                            <label for="DailyActivityOralCare" class="control-label">Oral Care</label>
                                              <select id="dailyActivitiesModel.oral_care" class="form-control col-md-8" name="dailyActivitiesModel.oral_care"
                                                    asp-for="@Model.dailyActivitiesModel.oral_care">
                                                <option value="">-- Choose --</option>
                                                <option value="1">Independent</option>
                                                <option value="2">With Assistance</option>
                                            </select>
                                        </div><div class="form-group">
                                            <label for="DailyActivityToileting" class="control-label">Toileting</label>
                                              <select id="dailyActivitiesModel.toileting" class="form-control col-md-8" name="dailyActivitiesModel.toileting"
                                                    asp-for="@Model.dailyActivitiesModel.toileting">
                                                <option value="">-- Choose --</option>
                                                <option value="1">Independent</option>
                                                <option value="2">With Assistance</option>
                                            </select>
                                        </div><div class="form-group">
                                            <label for="DailyActivityTransferring" class="control-label">Transferring</label>
                                              <select id="dailyActivitiesModel.transferring" class="form-control col-md-8" name="dailyActivitiesModel.transferring"
                                                    asp-for="@Model.dailyActivitiesModel.transferring">
                                                <option value="">-- Choose --</option>
                                                <option value="1">Independent</option>
                                                <option value="2">With Assistance</option>
                                            </select>
                                        </div><div class="form-group">
                                            <label for="DailyActivityWalking" class="control-label">Walking</label>
                                              <select id="dailyActivitiesModel.walking" class="form-control col-md-8" name="dailyActivitiesModel.walking"
                                                    asp-for="@Model.dailyActivitiesModel.walking">
                                                <option value="">-- Choose --</option>
                                                <option value="1">Independent</option>
                                                <option value="2">With Assistance</option>
                                            </select>
                                        </div><div class="form-group">
                                            <label for="DailyActivityEating" class="control-label">Eating</label>
                                              <select id="dailyActivitiesModel.eating" class="form-control col-md-8" name="dailyActivitiesModel.eating"
                                                    asp-for="@Model.dailyActivitiesModel.eating">
                                                <option value="">-- Choose --</option>
                                                <option value="1">Independent</option>
                                                <option value="2">With Assistance</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="DailyActivityNotes" class="control-label">Notes</label>
                                            <textarea asp-for="dailyActivitiesModel.notes" class="form-control" ></textarea>
                                            <span asp-validation-for="@Model.dailyActivitiesModel.notes" class="text-danger"></span>
                                           
                                        </div>


                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <input class="btn btn-primary" type="submit" value="Add Daily Activity">
                                    </div>
                                </form>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal --><div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td>
                                        <a id="daily_activity_plus" href="#"><i class="fa fa-plus text-info fa-lg"></i></a>
                                    </td>
                                    <td>Record Date</td>
                                    <td>Bathing</td>
                                    <td>Dressing</td>
                                    <td>Grooming</td>
                                    <td>Oral care</td>
                                    <td>Toileting</td>
                                    <td>Transferring</td>
                                    <td>Walking</td>
                                    <td>Eating</td>
                                    <td>Notes</td>
                                    <td>Created</td>
                                    <td>Modified</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.dailyActivitiesModelAll)
                                {
                                    <tr>
                                        <td>
                                            <a href="/DailyActivities/edit/@item.id"><i class="fa fa-edit text-info fa-lg"></i></a>&nbsp;&nbsp;
                                            <a href="/DailyActivities/delete/@item.id" onclick="if (confirm(&quot;Are you sure to delete this record?&quot;)) { return true; } return false;"><i class="fa fa-trash text-danger fa-lg"></i></a>
                                        </td>
                                        <td>@item.record_date</td>
                                        <td>@item.bathing</td>
                                        <td>@item.dressing</td>
                                        <td>@item.grooming</td>
                                        <td>@item.oral_care</td>
                                        <td>@item.toileting</td>
                                        <td>@item.transferring</td>
                                        <td>@item.walking</td>
                                        <td>@item.eating</td>
                                        <td>@item.notes</td>
                                        <td>@item.creator</td>
                                        <td>@item.modifier</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#daily_activity_plus').click(function () {
                                $('#637394e9-173c-4b09-aa94-48dbc0a806c9').modal('show');
                                return false;
                            });
                        });

                    </script>
                </div>
                <div role="tabpanel" class="tab-pane" id="treatments">
                    <div class="modal fade" id="637394e9-d350-454c-b5ce-48dbc0a806c9">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">Add Treatment</h4>
                                </div>
                                <div class="modal-body">
                                    <p>
                                    </p><form action="/emr/general/treatments/add" role="form" id="TreatmentAddForm" method="post" accept-charset="utf-8">
                                        <div style="display:none;"><input type="hidden" name="_method" value="POST"></div><input type="hidden" name="data[Treatment][patient_id]" value="4210" id="TreatmentPatientId"><div class="form-group required"><label for="TreatmentRecordDate" class="control-label">Record Date</label> <input name="data[Treatment][record_date]" class="form-control datepicker hasDatepicker" type="text" id="TreatmentRecordDate" required="required"></div><div class="form-group">
                                            <label for="TreatmentStatus" class="control-label">Status</label> <select name="data[Treatment][status]" class="form-control" id="TreatmentStatus">
                                                <option value="">-- Choose --</option>
                                                <option value="S">Scheduled</option>
                                                <option value="P">Pending</option>
                                                <option value="C">Completed</option>
                                            </select>
                                        </div><div class="form-group">
                                            <label for="TreatmentType" class="control-label">Type</label> <select name="data[Treatment][type]" class="form-control" id="TreatmentType">
                                                <option value="">-- Choose --</option>
                                                <option value="Miscellaneous">Miscellaneous</option>
                                                <option value="Occupational Therapy">Occupational Therapy</option>
                                                <option value="Physical Therapy">Physical Therapy</option>
                                                <option value="Respiratory Therapy">Respiratory Therapy</option>
                                                <option value="Speech Therapy">Speech Therapy</option>
                                            </select>
                                        </div><div class="form-group"><label for="TreatmentNotes" class="control-label">Notes</label> <textarea name="data[Treatment][notes]" class="form-control" cols="30" rows="6" id="TreatmentNotes"></textarea></div><script type="text/javascript">
                                                                                                                                                                                                                                                               $(function () {
                                                                                                                                                                                                                                                                   $('#TreatmentRecordDate').val(getCurrentDate());
                                                                                                                                                                                                                                                               });
                                        </script>
                                        <p></p>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <input class="btn btn-primary" type="submit" value="Add Treatment">
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal --><div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td>
                                        <a id="treatment_plus" href="#"><i class="fa fa-plus text-info fa-lg"></i></a>
                                    </td>
                                    <td>Record Date</td>
                                    <td>Status</td>
                                    <td>Type</td>
                                    <td>Notes</td>
                                    <td>Created</td>
                                    <td>Modified</td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#treatment_plus').click(function () {
                                $('#637394e9-d350-454c-b5ce-48dbc0a806c9').modal('show');
                                return false;
                            });
                        });

                    </script>
                </div>
                <div role="tabpanel" class="tab-pane" id="consults">
                    <div class="modal fade" id="637394e9-b8cc-4f29-8d6f-48dbc0a806c9">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">Add Consult</h4>
                                </div>
                                <div class="modal-body">
                                    <p>
                                    </p><form action="/emr/general/consults/add" role="form" id="ConsultAddForm" method="post" accept-charset="utf-8">
                                        <div style="display:none;"><input type="hidden" name="_method" value="POST"></div><input type="hidden" name="data[Consult][patient_id]" value="4210" id="ConsultPatientId"><div class="form-group required"><label for="ConsultRecordDate" class="control-label">Record Date</label> <input name="data[Consult][record_date]" class="form-control datepicker hasDatepicker" type="text" id="ConsultRecordDate" required="required"></div><div class="form-group"><label for="ConsultNotes" class="control-label">Notes</label> <textarea name="data[Consult][notes]" class="form-control" cols="30" rows="6" id="ConsultNotes"></textarea></div><script type="text/javascript">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            $(function () {
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                $('#ConsultRecordDate').val(getCurrentDate());
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            });
                                        </script>
                                        <p></p>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <input class="btn btn-primary" type="submit" value="Add Consult">
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal --><div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td>
                                        <a id="consult_plus" href="#"><i class="fa fa-plus text-info fa-lg"></i></a>
                                    </td>
                                    <td>Record Date</td>
                                    <td>Notes</td>
                                    <td>Created</td>
                                    <td>Modified</td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#consult_plus').click(function () {
                                $('#637394e9-b8cc-4f29-8d6f-48dbc0a806c9').modal('show');
                                return false;
                            });
                        });

                    </script>
                </div>
                <div role="tabpanel" class="tab-pane" id="dietaries">
                    <div class="modal fade" id="637394e9-2c00-4fad-a0b8-48dbc0a806c9">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">Add Dietary</h4>
                                </div>
                                <div class="modal-body">
                                    <p>
                                    </p><form action="/emr/general/dietaries/add" role="form" id="DietaryAddForm" method="post" accept-charset="utf-8">
                                        <div style="display:none;"><input type="hidden" name="_method" value="POST"></div><input type="hidden" name="data[Dietary][patient_id]" value="4210" id="DietaryPatientId"><div class="form-group required"><label for="DietaryRecordDate" class="control-label">Record Date</label> <input name="data[Dietary][record_date]" class="form-control datepicker hasDatepicker" type="text" id="DietaryRecordDate" required="required"></div><div class="form-group">
                                            <label for="DietaryType" class="control-label">Type</label> <select name="data[Dietary][type]" class="form-control" id="DietaryType">
                                                <option value="">-- Choose --</option>
                                                <option value="Cholesterol-Restricted">Cholesterol-Restricted</option>
                                                <option value="Clear Liquid">Clear Liquid</option>
                                                <option value="Consistent Carbohydrate (Diabetic)">Consistent Carbohydrate (Diabetic)</option>
                                                <option value="Fat-Restricted">Fat-Restricted</option>
                                                <option value="Full Liquid">Full Liquid</option>
                                                <option value="GI Soft">GI Soft</option>
                                                <option value="Heart Healthy">Heart Healthy</option>
                                                <option value="Low Residue/Low Fiber">Low Residue/Low Fiber</option>
                                                <option value="Mechanical Soft">Mechanical Soft</option>
                                                <option value="NPO">NPO</option>
                                                <option value="Regular">Regular</option>
                                                <option value="Renal Diet">Renal Diet</option>
                                                <option value="Salt-Restricted (low sodium)">Salt-Restricted (low sodium)</option>
                                                <option value="Vegetarian ">Vegetarian </option>
                                            </select>
                                        </div><div class="form-group"><label for="DietaryNotes" class="control-label">Notes</label> <textarea name="data[Dietary][notes]" class="form-control" cols="30" rows="6" id="DietaryNotes"></textarea></div><script type="text/javascript">
                                                                                                                                                                                                                                                         $(function () {
                                                                                                                                                                                                                                                             $('#DietaryRecordDate').val(getCurrentDate());
                                                                                                                                                                                                                                                         });
                                        </script>
                                        <p></p>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <input class="btn btn-primary" type="submit" value="Add Dietary">
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal --><div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td>
                                        <a id="dietary_plus" href="#"><i class="fa fa-plus text-info fa-lg"></i></a>
                                    </td>
                                    <td>Record Date</td>
                                    <td>Type</td>
                                    <td>Notes</td>
                                    <td>Created</td>
                                    <td>Modified</td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#dietary_plus').click(function () {
                                $('#637394e9-2c00-4fad-a0b8-48dbc0a806c9').modal('show');
                                return false;
                            });
                        });

                    </script>
                </div>
                <div role="tabpanel" class="tab-pane" id="provider_orders">
                    <div class="modal fade" id="637394e9-52c0-4db0-91cc-48dbc0a806c9">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">Add Physician Order</h4>
                                </div>
                                <div class="modal-body">
                                    <p>
                                    </p><form action="/emr/general/provider_orders/add" role="form" id="ProviderOrderAddForm" method="post" accept-charset="utf-8">
                                        <div style="display:none;"><input type="hidden" name="_method" value="POST"></div><input type="hidden" name="data[ProviderOrder][patient_id]" value="4210" id="ProviderOrderPatientId"><div class="form-group required"><label for="ProviderOrderRecordDate" class="control-label">Record Date</label> <input name="data[ProviderOrder][record_date]" class="form-control datepicker hasDatepicker" type="text" id="ProviderOrderRecordDate" required="required"></div><div class="form-group required">
                                            <label for="ProviderOrderProviderId" class="control-label">Provider</label> <select name="data[ProviderOrder][provider_id]" class="form-control" id="ProviderOrderProviderId" required="required">
                                                <option value="">-- Choose Provider --</option>
                                                <option value="1137">Alexander Allen M.D.</option>
                                                <option value="1156">Austin Sanchez M.D.</option>
                                                <option value="1138">Christina Walker M.D.</option>
                                                <option value="1149">Christopher Hall M.D.</option>
                                                <option value="1159">Cynthia Wilson M.D.</option>
                                                <option value="1148">Donald Rodriguez M.D.</option>
                                                <option value="1146">Donna Peterson M.D.</option>
                                                <option value="1135">Dr. Anderson</option>
                                                <option value="1134">Dr. Payne</option>
                                                <option value="1133">Dr. Roy</option>
                                                <option value="1132">Dr. Smith</option>
                                                <option value="1140">Dylan Flores M.D.</option>
                                                <option value="1143">Edward Moore M.D.</option>
                                                <option value="1144">Frank Ramirez M.D.</option>
                                                <option value="1142">Harry Murphy M.D.</option>
                                                <option value="1151">Janice Stewart M.D.</option>
                                                <option value="1155">Jean Edwards M.D.</option>
                                                <option value="1141">Karen Hernandez M.D.</option>
                                                <option value="1150">Larry Scott M.D.</option>
                                                <option value="1154">Louis Russell M.D.</option>
                                                <option value="1483">Marna Watson MD</option>
                                                <option value="1157">Michael Henderson M.D.</option>
                                                <option value="1147">Peter Perez M.D.</option>
                                                <option value="1152">Raymond Barnes M.D.</option>
                                                <option value="1139">Ruth Brown M.D.</option>
                                                <option value="1160">Sandra Brooks M.D.</option>
                                                <option value="1145">Sharon Jackson M.D.</option>
                                                <option value="1158">Tammy Kelly M.D.</option>
                                                <option value="1136">Theresa Martinez M.D.</option>
                                                <option value="1153">Walter Lewis M.D.</option>
                                            </select>
                                        </div><div class="form-group required"><label for="ProviderOrderNotes" class="control-label">Notes</label> <textarea name="data[ProviderOrder][notes]" class="form-control" cols="30" rows="6" id="ProviderOrderNotes" required="required"></textarea></div><script type="text/javascript">
                                                                                                                                                                                                                                                                                                        $(function () {
                                                                                                                                                                                                                                                                                                            $('#ProviderOrderRecordDate').val(getCurrentDate());
                                                                                                                                                                                                                                                                                                        });
                                        </script>
                                        <p></p>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <input class="btn btn-primary" type="submit" value="Add Physician Order">
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal --><div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td>
                                        <a id="provider_order_plus" href="#"><i class="fa fa-plus text-info fa-lg"></i></a>
                                    </td>
                                    <td>Record Date</td>
                                    <td>Physician</td>
                                    <td>Notes</td>
                                    <td>Created</td>
                                    <td>Modified</td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#provider_order_plus').click(function () {
                                $('#637394e9-52c0-4db0-91cc-48dbc0a806c9').modal('show');
                                return false;
                            });
                        });

                    </script>
                </div>
                <div role="tabpanel" class="tab-pane" id="notes">
                    <div class="modal fade" id="637394e9-fc1c-4b67-b22f-48dbc0a806c9">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">Add Note</h4>
                                </div>
                                <div class="modal-body">
                                    <p>
                                    </p><form action="/emr/general/patient_notes/add" role="form" id="PatientNoteAddForm" method="post" accept-charset="utf-8">
                                        <div style="display:none;"><input type="hidden" name="_method" value="POST"></div><input type="hidden" name="data[PatientNote][patient_id]" value="4210" id="PatientNotePatientId"><div class="form-group"><label for="PatientNoteRecordDate" class="control-label">Record Date</label> <input name="data[PatientNote][record_date]" class="form-control datepicker hasDatepicker" type="text" id="PatientNoteRecordDate"></div><div class="form-group required"><label for="PatientNoteNotes" class="control-label">Notes</label> <textarea name="data[PatientNote][notes]" class="form-control" cols="30" rows="6" id="PatientNoteNotes" required="required"></textarea></div><script type="text/javascript">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            $(function () {
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                $('#PatientNoteRecordDate').val(getCurrentDate());
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            });
                                        </script>
                                        <p></p>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <input class="btn btn-primary" type="submit" value="Add Note">
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal --><div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td>
                                        <a id="note_plus" href="#"><i class="fa fa-plus text-info fa-lg"></i></a>
                                    </td>
                                    <td>Record Date</td>
                                    <td>Note</td>
                                    <td>Created</td>
                                    <td>Modified</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <a href="/emr/general/PatientNotes/edit/1607"><i class="fa fa-edit text-info fa-lg"></i></a>&nbsp;&nbsp;<a href="/emr/general/PatientNotes/delete/1607" onclick="if (confirm(&quot;Are you sure to delete this record?&quot;)) { return true; } return false;"><i class="fa fa-trash text-danger fa-lg"></i></a>
                                    </td>
                                    <td>11/15/2022</td>
                                    <td>test</td>
                                    <td>Selvaraj Kandeepan 11/15/2022 08:32:12</td>
                                    <td>Selvaraj Kandeepan 11/15/2022 08:32:24</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#note_plus').click(function () {
                                $('#637394e9-fc1c-4b67-b22f-48dbc0a806c9').modal('show');
                                return false;
                            });
                        });

                    </script>
                </div>
            </div>

        </div>

        <script type="text/javascript">
            $(function () {
                console.log(window.location.hash);
                $('#patientTab a[href="' + window.location.hash + '"]').tab('show');
                // $('#medicationTab a[href="' + window.location.hash + '"]').tab('show');
                //  $('#patientTab a[href="#home"]').tab('show');
            });
        </script>
    </div>
</div>